.calculator {
  width: 300px;
  border: 2px solid #000;
  padding: 15px;
  border-radius: 2px;
  margin: 100px auto;
  box-shadow: 0 0 3px #888;
  background: #fff;
}

.display {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
  padding: 5px;
  border: 1px solid #ccc;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}
button {
  height: 40px;
  font-size: 18px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
}

button:hover {
  background: #eaeaea;
}

.equal {
  background-color: #b3e0ff;
  border: 1px solid #000;
}
